*{
    --clr1: #6999ff;
    --clr2: white;
    --clr3: rgb(0, 0, 161);

}


/* General */
.roboto-flex-mine {
    font-family: "Roboto Flex", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: var(--clr1);
    color: var(--clr2);
    font-family: "Roboto Flex", serif;
}

header{
    display: flex;
    background-color: var(--clr3);
    color: var(--clr2);
    border-bottom-style: solid;
    padding: 1rem;
    font-family: "Lobster", serif;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1{
    font-size: 4rem;
}

ul{
    list-style: none;
}

li{
    display: flex;
    flex-wrap: wrap;
}

.link_box{
    display: flex;
}

.link_ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav_link:hover{
    cursor: pointer;
    color: yellow;
}

.nav_link:active{
    cursor: pointer;
    color: var(--clr1);
}

/* Landing */

.landing_wrapper{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    gap: 1rem;
    border-style: solid;
}

.landing_card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: fit-content;
}

.landing_title{
    background-color: var(--clr3);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    gap: 0.5rem;
    border-style: solid;
}

.landing_h2{
    font-weight: 750;
    font-size: 2.5rem;
}

.landing_ul{
    padding: 0rem;
}

.landing_li{
    border-style: solid;
    border-top: none;
    padding: 0.5rem;
}

.book_button{
    width: fit-content;
    margin-left: 1rem;
}

.book_button:hover{
    color: yellow;
}

.book_button:active{
    color: var(--clr1);
}