*{
    --clr1: #6999ff;
    --clr2: white;
    --clr3: rgb(0, 0, 161);
    --shadow: rgb(0,0,0,0.5);

}


/* General */
.roboto-flex-mine {
    font-family: "Roboto Flex", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: var(--clr1);
    color: var(--clr2);
    font-family: "Roboto Flex", serif;
}

header{
    display: flex;
    background-color: var(--clr3);
    color: var(--clr2);
    border-bottom-style: solid;
    padding: 1rem;
    font-family: "Lobster", serif;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 10px 10px var(--shadow);
}

h1{
    font-size: 4rem;
}

h4{
    font-size: 1.5rem;
}

ul{
    list-style: none;
    margin-bottom: 0;
}

li{
    display: flex;
    flex-wrap: wrap;
}

.link_box{
    display: flex;
}

.link_ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav_link:hover{
    cursor: pointer;
    color: yellow;
}

.nav_link:active{
    cursor: pointer;
    color: var(--clr1);
}

/* Landing */

.landing_wrapper{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    gap: 1rem;
    border-style: solid;
    box-shadow: 0px 10px 10px var(--shadow);
}

.landing_card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: fit-content;
    box-shadow: 0px 5px 5px var(--shadow);
}

.landing_title{
    background-color: var(--clr3);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    gap: 0.5rem;
    border-style: solid;
}

.landing_h2{
    font-weight: 750;
    font-size: 2.5rem;
}

.landing_ul{
    padding: 0rem;
}

.landing_li{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-top: none;
    /* padding: 0.5rem; */
}

.landing_faq{
    margin-left: 1rem;
}

.landing_faq:hover{
    cursor: pointer;
    color: yellow;
}

.landing_faq:active{
    color: var(--clr3);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.book_button{
    width: fit-content;
    /* margin-left: 1rem; */
    box-shadow: 0px 5px 5px var(--shadow);
}

.book_button:hover{
    color: yellow;
    box-shadow: 0px 4px 4px var(--shadow);
}

.book_button:active{
    color: var(--clr1);
    box-shadow: 0px 0px 0px var(--shadow);
}

.book_card_title{
    background-color: var(--clr1);
    color: var(--clr2);
    padding: 1rem;
    /* box-shadow: 0px 5px 5px var(--shadow); */
}

.book_card_body{
    display: flex;
    flex-direction: column;
    background-color: var(--clr2);
    color: var(--clr3);
    padding: 1rem;
    gap: 0.5rem;
    border: 1px solid var(--clr3);
}

/* Form */

.form_container{
    padding: 1rem;
    gap: 1rem;
}

.booking_title{
    color: var(--clr1);
    background-color: var(--clr2);
    padding: 1rem;
    box-shadow: 0px 7px 5px var(--shadow);
}

.booking_form{
    border-style: solid;
    margin-bottom: 5rem;
    padding: 1rem;
    box-shadow: 0px 10px 10px var(--shadow);
}

.form_body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
}

.form_contact{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-style: solid;
    box-shadow: 0px 7px 5px var(--shadow);
}

.form_flight{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-style: solid;
    box-shadow: 0px 5px 5px var(--shadow);
}

.submit_btn{
    margin-top: 1rem;
    margin-left: 50%;
    margin-right: 50%;
    box-shadow: 0px 5px 5px var(--shadow);
}

.submit_btn:hover{
    color: yellow;
    box-shadow: 0px 4px 4px var(--shadow);
}

.submit_btn:active{
    color: var(--clr1);
    box-shadow: 0px 0px 0px var(--shadow);
}

.softEnd{
    padding-bottom: 1rem;
    border-bottom: 2px dotted var(--clr2);
}



/* FAQ */

.faq_wrapper{
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: 2rem;
    box-shadow: 0px 10px 10px var(--shadow);
}

.faq_title{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--clr3);
    border-bottom-style: solid;
    padding: 1rem;
    box-shadow: 0px 5px 5px var(--shadow);
    justify-content: center;
    font-family: "Lobster", serif;
}

.faq_body{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    overflow-y: scroll;
}

.faq_card{
    display: flex;
    flex-direction: column;
    border-style: solid;
    box-shadow: 0px 5px 5px var(--shadow);
}

.faq_question{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--clr3);
    border-bottom-style: solid;
    padding: 1rem;
    box-shadow: 0px 5px 5px var(--shadow);

}

.faq_answer{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    padding-bottom: 0.25rem;
}